body{
    font-family: 'Hind Siliguri', sans-serif!important;
    margin: 0;
    padding: 0;
    color: #29272e;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
/* <!-- navigation bar --> */
header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.logo,.logo img{
    width: 170px;
    margin-top: 4px;
}
.mobile_nav{
    padding-top: 80px;
    display: none;
}
#n_bar{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 25px;
}
.nav_bar{
    display: none;
}
.nav_icon{
    display: block;
    width: 30px;
}
.nav_icon>img{
    width: 100%;
}
.nav_bar>a{
    margin: 0 10px;
    padding-top: 100px;
    text-decoration: none;
    font-size: 15px;
    color: #2f2c2c;
    cursor: pointer;
    transition: all .3s ease;
}


.nav_bar>a:hover{
    
    color: #29272e;
    padding-bottom: 10px;
    border-bottom: 3px solid #5c7f36;
    padding-top: 50px;
}

.sticky {
     background-color: white;
    transition: all 1s ease;
     position:fixed;
    top:0;
    right: 0;
    left: 0;
    box-shadow: 0px 1px 10px #656565;
    z-index: 5;
  }


  /* <!-- footer part --> */

  /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    header{
        margin: 0 8%;
    }
    .nav_bar{
        padding-top: 45px;
        display: block;
    }
    .nav_icon{
        display: none;
    }
    
    
    .mobile_nav{
        display: none !important;
    }
}

/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1400px) {
    header{
        margin: 0 19%;
    }
    .nav_icon{
        display: none;
    }
    
    .heading h3{
        padding-left: 20%;
    }
    .mobile_nav{
        display: none !important;
    }
}