body{
    font-family: 'Hind Siliguri', sans-serif!important;
    margin: 0;
  
    padding: 0;
    color: #29272e;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
/* <!-- navigation bar1 --> */

.nav_top{
    
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    color:#fff ;
    font-size: 13px;
    background-color: #5c7f36;
    display: grid;
    gap: 10px;
    grid-template-columns: 20% 19% 24% 1% 1% 1% 1% 1% 6% 7%;
    grid-template-rows: 100%;
}
.ltext{
    text-align: left;
}
.rtext{
    text-align: right;
}
.top_img{
    width: 15px;
    
}
.icon {
    
    background: #5c7f36;
    color: white;
    
    
}

/* <!-- navigation bar2 --> */
header{
    
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.logo,.logo img{
    width: 170px;
    margin-top: 4px;
}
.mobile_nav{
    padding-top: 80px;
    display: none;
}
#n_bar{

    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 25px;
}
.nav_bar{
    display: none;
}

.nav_icon{
    display: block;
    width: 30px;
}
.nav_icon>img{
    width: 100%;
}
.nav_bar>a{
    margin: 0 10px;
    padding-top: 100px;
    text-decoration: none;
    font-size: 15px;
    color: #2f2c2c;
    cursor: pointer;
    transition: all .3s ease;
}


.nav_bar>a:hover{
    
    color: #29272e;
    padding-bottom: 10px;
    border-bottom: 3px solid #5c7f36;
    padding-top: 50px;
}

/* .sticky {
    background-color: white;
    
   transition: all 1s ease;
    position:fixed;
   top:0;
   right: 0;
   left: 0;
   box-shadow: 0px 1px 10px #656565;
   z-index: 5;
 } */
 #header{
    
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0px 1px 10px #656565;

}

  /* <!-- footer part --> */

.footer-box{
    background-color: #5c7f36;
    width: 100%;
    padding: 25px 80px;
}
.footer{
    width: 80%;
    margin: auto;
    background-color: #5c7f36;
    color: #fff;
    display: grid;
    gap: 20px;
    grid-template-areas: "b1"
    "b2"
    "b3"
    "b4";
}
#f_about{
    grid-area: b1;
    
}
#f_imp{
    grid-area: b2;
    
}
#f_location{
    grid-area: b3;
    
}
#f_contact{
    grid-area: b4;
    
}
.f_box>div:nth-child(1){
    width: 100%;
    border-bottom: 2px solid grey;
    padding-top: 15px;
    
}
#f_about>div:nth-child(3)>div{
    float: left;
    background-color: black;
    margin-right: 4px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    
    


}
#f_imp>div:nth-child(5)>div{
    float: left;
    margin-left: 10px;
    
}
#f_contact>div:nth-child(3)>div:nth-child(1){
    padding-top: 15px;
    
}

#f_contact>div:nth-child(3)>div:nth-child(1)>div:nth-child(1){
    float: left;
    width: 4%;
    margin-right: 5px;
    text-align: center;
    border-bottom: 1px solid #fff;
    
}
#f_contact>div:nth-child(3)>div:nth-child(1)>div:nth-child(2){
    float: right;
    width: 94%;
    margin-top: 0px;
    
    
    
}
#f_contact>div:nth-child(3)>div:nth-child(2){
    clear: both;
    
    
}
ul{
    list-style-type : none!important;
}
ul :hover{
    list-style-type: block;
}
#f_contact>div:nth-child(3)>div:nth-child(3)>div:nth-child(1){
    float: left;
    width: 4%;
    margin-right: 5px;
    border-bottom: 1px solid #fff;
    
}
#f_contact>div:nth-child(3)>div:nth-child(3)>div:nth-child(2){
    float: right;
    width: 94%;
    
    
    
}
.map{
    margin-top: 15px;
    width: 250px;
    height: 250px;
}

.iconb{
    background: black;
    color: white;
    margin-top: 11px;
    

}




  /* <!-- footer part --> */

  /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    header{
        margin: 0 8%;
    }
    .nav_bar{
        padding-top: 45px;
        display: block;
    }
    .nav_icon{
        display: none;
    }
    
    
    .mobile_nav{
        display: none !important;
    }
    .footer{
        grid-template-areas: "b1 b2 b3 b4";
    }
}

/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1400px) {
    header{
        margin: 0 19%;
    }
    .nav_icon{
        display: none;
    }
    
    .heading h3{
        padding-left: 20%;
    }
    .mobile_nav{
        display: none !important;
    }
    .footer{
        grid-template-areas: "b1 b2 b3 b4";
    }
}