body{
    font-family: 'Hind Siliguri', sans-serif!important;
    margin: 0;
  
    padding: 0;
    color: #29272e;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
/* <!-- navigation bar1 --> */

button :focus{
    outline: none !important;
}

.nav_top{
    
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    color:#fff ;
    font-size: 13px;
    background-color: #5c7f36;
    display: grid;
    gap: 10px;
    grid-template-columns: 20% 19% 24% 1% 1% 1% 1% 1% 6% 7%;
    grid-template-rows: 100%;
}
.ltext{
    text-align: left;
}
.rtext{
    text-align: right;
}
.top_img{
    width: 15px;
    
}
.icon {
    
    background: #5c7f36;
    color: white;
    
    
}

/* <!-- navigation bar2 --> */
header{
    
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.logo,.logo img{
    width: 170px;
    margin-top: 4px;
}
.mobile_nav{
    padding-top: 80px;
    display: none;
}
#n_bar{

    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 25px;
}
.nav_bar{
    display: none;
}

.nav_icon{
    display: block;
    width: 30px;
}
.nav_icon>img{
    width: 100%;
}
.nav_bar>a{
    margin: 0 10px;
    margin-top: 100px;
    /* padding-top: 100px; */
    text-decoration: none;
    font-size: 15px;
    color: #2f2c2c;
    cursor: pointer;
    transition: all .3s ease;
}


.nav_bar>a:hover{
    
    color: #29272e;
    padding-bottom: 10px;
    border-bottom: 3px solid #5c7f36;
    padding-top: 50px;
}

.sticky {
    background-color: white;
    
   transition: all 1s ease;
    position:fixed;
   top:0;
   right: 0;
   left: 0;
   box-shadow: 0px 1px 10px #656565;
   z-index: 5;
 }


  /* <!-- footer part --> */

.footer-box{
    background-color: #5c7f36;
    width: 100%;
    padding: 25px 80px;
}
.footer{
    width: 80%;
    margin: auto;
    background-color: #5c7f36;
    color: #fff;
    display: grid;
    gap: 25px;
    grid-template-areas: "q1"
    "q2"
    "q3"
    "q4";
}
#f_about{
    grid-area: q1;
    
}
#f_imp{
    color: #fff;
    grid-area: q2;
    
}
#f_location{
    grid-area: q3;
    
}
#f_contact{
    grid-area: q4;
    
}
.f_box>div:nth-child(1){
    width: 100%;
    border-bottom: 2px solid grey;
    padding-top: 15px;
    
}
#f_about>div:nth-child(3)>div{
    float: left;
    background-color: black;
    margin-right: 4px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    
    


}
#f_imp>div:nth-child(5)>div:nth-child(1){
    float: left;
    margin-left: 5px;
    width: 30%;
    
}
#f_imp>div:nth-child(5)>div:nth-child(2){
    float: left;
    margin-left: 35px;
    width: 30%;
    
}
#f_imp>div:nth-child(5)>div>img{
    
    width: 100px
    
}

#f_contact>div:nth-child(3)>div:nth-child(1){
    padding-top: 15px;
    
}

#f_contact>div:nth-child(3)>div:nth-child(1)>div:nth-child(1){
    float: left;
    width: 4%;
    margin-right: 5px;
    text-align: center;
    border-bottom: 1px solid #fff;
    
}
#f_contact>div:nth-child(3)>div:nth-child(1)>div:nth-child(2){
    float: right;
    width: 94%;
    margin-top: 0px;
    
    
    
}
#f_contact>div:nth-child(3)>div:nth-child(2){
    clear: both;
    
    
}
a{
    text-decoration : none!important;
}
li{
    list-style-type : block;
}
li :hover{
    list-style-type: decimal;
}
#f_contact>div:nth-child(3)>div:nth-child(3)>div:nth-child(1){
    float: left;
    width: 4%;
    margin-right: 5px;
    border-bottom: 1px solid #fff;
    
}
#f_contact>div:nth-child(3)>div:nth-child(3)>div:nth-child(2){
    float: right;
    width: 94%;
    
    
    
}
.map{
    margin-top: 15px;
    width: 250px;
    height: 250px;
}

.iconb{
    background: black;
    color: white;
    margin-top: 11px;
    

}
.jon_box{
    width: 100%;
    height: 200px;
    background-color: #fff;
    padding-top: -10px;
    padding-bottom: 25px;
}
.jon_box>div{
    float: left;
}
.jon_box>div:nth-child(1){
    margin-left: 15px;
    margin-top: -5px;
    width: 200px;
    height: 200px;
    
}
.jon_box>div:nth-child(1)>img{
    
    width: 230px;
    height: 198px;
    
    
}

.jon_box>div:nth-child(2){
    margin-left: 250px;
    
}
.jon_box>div:nth-child(3){
    margin-left: 250px;
    padding-top: 65px;
    
}
.jon_box>div>h3{
    font-family:"Rancho", cursive; 
    font-size: 40px;
    margin-bottom: 0px;
}
.jon_box>div>p{
    margin-top: 0px;
    font-size: 14px;
    color: #616F7D;

    
}




  /* <!-- footer part --> */

  /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    header{
        margin: 0 8%;
    }
    .nav_bar{
        padding-top: 45px;
        display: block;
    }
    .nav_icon{
        display: none;
    }
    
    
    .mobile_nav{
        display: none !important;
    }
    .footer{
        grid-template-areas: "q1 q2 q3 q4";
    }
}

/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1400px) {
    header{
        margin: 0 19%;
    }
    .nav_icon{
        display: none;
    }
    
    .heading h3{
        padding-left: 20%;
    }
    .mobile_nav{
        display: none !important;
    }
    .footer{
        grid-template-areas: "q1 q2 q3 q4";
    }
}

/*nil css-----------------------------------------*/


* {
    box-sizing: border-box
}



.mySlides {
    display: none
}

.nil_img {
    vertical-align: middle;
}

.prev22{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


.slideshow-container {
    max-width: 1100px;
    position: relative;
    margin-left: 110px;
    margin-top: 30px;

}

.numbertext12 {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.text-large23 {
    -webkit-text-size-adjust: 100%;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    list-style: none;
    text-align: left;
    font-weight: 500;
    font-family: 'Rancho', cursive;
    text-transform: capitalize;
    line-height: 1;
    box-sizing: border-box;
    color: #5c7f36;
    font-size: 45px;
    padding: 0 10px;

}

.title-animated {
    animation-name: fadeInUp;
    font-family: 'Rancho', cursive;
    text-transform: capitalize;
    color: #29272e;
    font-size: 40px;
    width: 490px;


}

#order-buttn {
    padding: 20px;
    -webkit-text-size-adjust: 100%;
    font-family: 'Hind Siliguri', sans-serif;
    -webkit-tap-highlight-color: transparent;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    transition: all 0.4s ease;
    min-width: 50px;
    min-height: 20px;
    padding: 10px 35px;
    border: 1px solid #5c7f36;
    text-transform: uppercase;
    border-radius: 25px;
    display: inline-block;
    position: relative;
    background-color: transparent;
    color: #5c7f36;
    outline: none;
}

#order-buttn>a {
    margin: 0 10px;
    padding-top: 100px;
    text-decoration: none;
    font-size: 15px;
    color: #5c7f36;
    cursor: pointer;
    transition: all .3s ease;
}



#order-buttn>a:hover {

    color: #29272e;
    padding-bottom: 10px;
    border-bottom: 3px solid #5c7f36;
    padding-top: 50px;
}


.prev22:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.text21 {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


.numbertext12 {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot22 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot22:hover {
    background-color: #717171;
}


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
/* <page2nilcsss></page2nilcsss> */
#form_img_1 {
    height: 600px;
    text-align: center;
    margin-top: 30px;
}
#images_online_12 {
    height: 450px;
    width: 700px;
    margin-top: 40px;
}
#buttn2 {
    padding: 10px;
    width: 100px;
    color: darkblue;
    margin-top: 20px;
}
.tod67 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,
.tod67:hover {
    background-color: #5c7f36;
}
.prev_buttn_678 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    margin-top: -80px;
    margin-left: 355px;
}
.prev_buttn_678:hover {
background-color: #5c7f36;
border: 1px solid;
}
.next_buttn_98{
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    margin-top: -80px;
    margin-left: 1120px;
}
.next_buttn_98:hover {
    background-color: #5c7f36;
    border: 1px solid;
}
/* <page2nilcsss></page2nilcsss> */
#whatsapp-btn8991 {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 400;
    line-height: 1.714;
    color: #616f7d;
    box-sizing: border-box;
    position: fixed;
    bottom: 40px;
    left: 20px;
    z-index: 99;
    width: 50px;


}

#fa-fa-whatsapp8991 {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 400;
    line-height: 1.714;
    box-sizing: border-box;
    background-color: transparent;
    transition: color 0.3s ease;
    outline: 0;
    text-decoration: none;
    color: #5c7f36;

}


.wssp_img8962 {
    width: 50px;
    height: 50px;
    border-radius: 24px;
}
.animatedzoomIn {

    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 400;
    line-height: 1.714;
    box-sizing: border-box;
    color: #337ab7;
    text-decoration: none;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: zoomIn;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 40px;
    right: 1.5%;
    z-index: 9999;
    background: #5c7f36;
    border: 3px solid #ffffff;
    border-radius: 50%;
    height: 53px;
    width: 53px;
    text-align: center;
    transition: all 0.2s linear;
    display: inline;

}

.fa-fa-angle-double-up {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #ffffff;
    line-height: 40px;
    font-size: 20px;
    transition: all 0.2s ease;

}


/* <page2nilcsss></page2nilcsss> */

/*nil css-----------------------------------------*/


/*jonsnow css-----------------------------------------*/

#jonsnow-edit-nil32 {
    margin-top: 10px;

}

#jonsnow-edit-nil33 {
    width: 30%;
    margin-left: 140px;

}

.jonsnow-edit-nil34 {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 400;
    line-height: 1.714;
    color: #616f7d;
    max-width: 130%;
    height: auto;
    visibility: visible;
    animation-name: zoomIn;
    border-radius: 30px;
}

.top-title2345 {

    font-size: 16px;
    position: relative;
    display: block;
    text-align: center;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 500;
    color: #5c7f36;
    text-transform: uppercase;
    line-height: 1;
    font-size: 20px;
    margin-right: 500px;


}


.top-title2345:before {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: #5c7f36;
    left: 77%;
    top: 50%;
    position: absolute;
}

.top-title2345:after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: #5c7f36;
    right: 77%;
    top: 50%;
    position: absolute;
}

#jonsnow-edit-nil90 {
    width: 50%;
    margin-left: 60%;
    margin-top: 70px;

}

.jonsnow-edit-nil-p1 {

    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: 'Hind Siliguri', sans-serif;
    line-height: 1.714;
    box-sizing: border-box;

    text-align: justify;
    font-weight: 700;
    font-size: 16px;
    color: #29272e;
    margin-bottom: 15px;
}

.jonsnow-edit-nil-p123 {

    font-size: 16px;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 400;
    line-height: 1.714;
    box-sizing: border-box;
    margin: 0 0 10px;
    text-align: justify;
    margin-bottom: 20px !important;
    color: #616f7d;
    font-size: 17px;

}

.nil-jonsnow-edit-anchor {
    color: #616f7d;
    font-weight: bold;
    font-size: 16px;
}

#jonsnow-edit-nil388 {
    width: 55%;
    margin-left: 52%;
    margin-top: -520px;



}

.jonsnow-edit-nil34:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}


#jonsnow-service-heading {
    text-align: center;
}
#jonsnow-service-heading>p{
    font-family: sans-serif;
    margin: 50px auto;
    color: #5C7F36;
    text-align: center;
    font-size: 30px;
    max-width: 600px;
    position: relative;
}
#jonsnow-service-heading>p:before {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: #5C7F36;
    left: 70%;
    top: 50%;
    position: absolute;
}
#jonsnow-service-heading>p:after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: #5C7F36;
    right: 70%;
    top: 50%;
    position: absolute;
}
#jonsnow-service-heading>h1{
    font-family: "Rancho", cursive;
}

#jonsnow-service-sec {
    width: 1200px;
    display: flex;
    margin: auto;
    padding: 10px;
}

.jonsnow-icon-title>h2 {
    font-family: "Rancho", cursive;
    text-align: center;
}

.jonsnow-icon-img {
    width: 120px;
    height: 120px;
    border: 2px dotted #5c7f36;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    background-color: #fff;
    color: #5c7f36 ;
}
.imgicon21{
    margin: auto;
    margin-top: -15px;
    width: 60px;
    height: 60px;
    

}
.icon21{    
    font-size: 60px;
}
.small_num{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #3F3E44;
    background-color: #fff;
    font-size: 15px;
    margin-left: 95px;
    margin-top: 5px;
    text-align: center;
    padding-top: 5px;
    border: 1px solid seashell;
}
.jonsnow-icon-img:hover .small_num{
    background-color:#5c7f36 ;
    color :#fff;
}




.jonsnow-icon-desc {
    text-align: center;
}
.jonsnow-icon-img:hover{
    background-color: #5c7f36;
    color :#fff;
}



/*Anwar css-----------------------------------------*/

/*bhargav css-----------------------------------------*/


#layout {
    margin-left: 20px;
    display: grid;
    gap: 15px;
    grid-template: "b1 b2 b3 b4";
}
#layout > div:hover {
    border-bottom: 3px solid #5C7F36;
}
#box1 {
    margin-top: 30px;
    width: 250px;
    grid-area: b1;
    height: 310px;
    border: 1px solid white;
    /* float: left; */
    box-shadow: 5px 5px 20px grey;
}
#box2 {
    grid-area: b2;
    margin-top: 30px;
    width: 250px;
    height: 310px;
    border: 1px solid white;
    /* float: left; */
    box-shadow: 5px 5px 20px grey;
}
#box3 {
    grid-area: b3;
    margin-top: 30px;
    width: 250px;
    height: 310px;
    border: 1px solid white;
    /* float: left; */
    box-shadow: 5px 5px 20px grey;
}
#box4 {
    grid-area: b4;
    margin-top: 30px;
    width: 250px;
    height: 310px;
    border: 1px solid white;
    /* float: left; */
    box-shadow: 5px 5px 20px grey;
}
#box5 {
    grid-area: b5;
    margin-top: 30px;
    width: 250px;
    height: 310px;
    border: 1px solid white;
    margin-left: 20px;
    box-shadow: 5px 5px 20px grey;
}
@media only screen and (max-width: 900px) {
    #layout {
        grid-template:
            "b1 b2"
            "b3 b4";
    }
}
@media only screen and (max-width: 600px) {
    #layout {
        grid-template:
            "b1"
            "b2"
            "b3"
            "b4";
    }
}
.title {
    font-family: "Rancho", cursive;
    font-size: 35px;
    text-transform: capitalize;
    color: #29272E;
    margin: 0;
    margin-left: auto;
    margin-bottom: auto;
    text-align: center;
}
.top-title {
    font-weight: 500;
    font-size: 16px;
    color: #5C7F36;
    position: relative;
    text-transform: uppercase;
    display: block;
    line-height: 1;
    margin-left: auto;
    margin-bottom: auto;
    text-align: center;
}
.top-title{
    font-family: sans-serif;
    margin: 50px auto;
    color: #5C7F36;
    text-align: center;
    font-size: 30px;
    max-width: 600px;
    position: relative;
}
.top-title:before {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: #5C7F36;
    left: 78%;
    top: 50%;
    position: absolute;
}
.top-title:after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: #5C7F36;
    right: 78%;
    top: 50%;
    position: absolute;
}
.image {
    width: 250px;
    height: 200px;
}
/* Quick-zoom Container */
/* Colorize-zoom Container */
/* [1] The container */
.img-hover-zoom {
    height: 300px; /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}
/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
    transition: transform 0.5s ease;
}
/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
    transform: scale(1.5);
}
.title2 {
    font-family: "Rancho", cursive;
    font-size: 20px;
    text-transform: capitalize;
    color: #29272E;
    margin: 0;
    margin-left: 10px;
}
.data {
    font-size: 15px;
    color: rgb(92, 88, 88);
    margin-left: 10px;
}


/*bhargav css-----------------------------------------*/
