#layout {
	margin-left: 20px;
	display: grid;
	gap: 15px;
	grid-template: "b1 b2 b3 b4";
}
#layout > div:hover {
	border-bottom: 3px solid #5c7f36;
}
#box1 {
	margin-top: 30px;
	width: 250px;
	grid-area: b1;
	height: 310px;
	border: 1px solid white;
	/* float: left; */
	box-shadow: 5px 5px 20px grey;
}
#box2 {
	grid-area: b2;
	margin-top: 30px;
	width: 250px;
	height: 310px;
	border: 1px solid white;
	/* float: left; */
	box-shadow: 5px 5px 20px grey;
}
#box3 {
	grid-area: b3;
	margin-top: 30px;
	width: 250px;
	height: 310px;
	border: 1px solid white;
	/* float: left; */
	box-shadow: 5px 5px 20px grey;
}
#box4 {
	grid-area: b4;
	margin-top: 30px;
	width: 250px;
	height: 310px;
	border: 1px solid white;
	/* float: left; */
	box-shadow: 5px 5px 20px grey;
}
#box5 {
	grid-area: b5;
	margin-top: 30px;
	width: 250px;
	height: 310px;
	border: 1px solid white;
	margin-left: 20px;
	box-shadow: 5px 5px 20px grey;
}
@media only screen and (max-width: 900px) {
	#layout {
		grid-template:
			"b1 b2"
			"b3 b4";
	}
}
@media only screen and (max-width: 600px) {
	#layout {
		grid-template:
			"b1"
			"b2"
			"b3"
			"b4";
	}
}
.title {
	font-family: "Rancho", cursive;
	font-size: 35px;
	text-transform: capitalize;
	color: #29272e;
	margin: 0;
	margin-left: auto;
	margin-bottom: auto;
	text-align: center;
}
.top-title {
	font-weight: 500;
	font-size: 16px;
	color: #5c7f36;
	position: relative;
	text-transform: uppercase;
	display: block;
	line-height: 1;
	margin-left: auto;
	margin-bottom: auto;
	text-align: center;
}
.top-title {
	font-family: sans-serif;
	margin: 50px auto;
	color: #5c7f36;
	text-align: center;
	font-size: 30px;
	max-width: 600px;
	position: relative;
}
.top-title:before {
	content: "";
	display: block;
	width: 60px;
	height: 2px;
	background: #5c7f36;
	left: 67%;
	top: 50%;
	position: absolute;
}
.top-title:after {
	content: "";
	display: block;
	width: 60px;
	height: 2px;
	background: #5c7f36;
	right: 67%;
	top: 50%;
	position: absolute;
}
.image {
	width: 250px;
	height: 200px;
}
/* Quick-zoom Container */
/* Colorize-zoom Container */
/* [1] The container */
.img-hover-zoom {
	height: 300px; /* [1.1] Set it as per your need */
	overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}
/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
	transition: transform 0.5s ease;
}
/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
	transform: scale(1.5);
}
.title2 {
	font-family: "Rancho", cursive;
	font-size: 20px;
	text-transform: capitalize;
	color: #29272e;
	margin: 0;
	margin-left: 10px;
}
.data {
	font-size: 15px;
	color: rgb(92, 88, 88);
	margin-left: 10px;
}
