.order_online {
	width: 100%;

	margin-top: 20px;
	height: 300px;
}
/* Container holding the image and the text */
.container {
	position: relative;
	text-align: center;
	color: cornflowerblue;
	font-size: 60px;
}
/* Centered text */
.centered {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* centere bottom content text */
.small_data {
	margin-top: 80px;
	color: aliceblue;
	font-size: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/*arranging the data at center after image */
.top-title3 {
	font-family: sans-serif;
	margin: 50px auto;
	color: #5c7f36;
	text-align: center;
	font-size: 20px;
	max-width: 600px;
	position: relative;
}
.top-title3:before {
	content: "";
	display: block;
	width: 60px;
	height: 2px;
	background: #5c7f36;
	left: 77%;
	top: 50%;
	position: absolute;
}
.top-title3:after {
	content: "";
	display: block;
	width: 60px;
	height: 2px;
	background: #5c7f36;
	right: 77%;
	top: 50%;
	position: absolute;
}
.content_middle,
#list_items {
	font-size: 20px;
	color: rgb(70, 64, 64);
	line-height: 30px;
	margin-left: 20px;
}
#list_items {
	margin-left: 60px;
}
#customer_data {
	width: 80%;
	height: 500px;
	border: 4px solid rgb(228, 222, 222);
	margin-top: 20px;
	display: block;
	margin-left: 20px;

	margin-right: auto;
}

/* input filed symbol */

.input-container {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	width: 400px;
	margin-bottom: 15px;
	margin-top: 30px;
}

.icon69:hover {
	color: rgb(32, 26, 26);
}
.icon69 {
	fill: #000;
	background: #5c7f36;
}

.icon69 {
	padding: 10px;

	background: rgb(173, 169, 169);
	color: white;
	min-width: 50px;
	text-align: center;
}

.input-field {
	width: 650px;
	padding: 10px;
	outline: none;
}

.input-field:focus {
	border: 2px solid lightgrey;
}

/* Set a style for the submit button */

.note {
	color: grey;
}
.note2 {
	color: rgb(29, 28, 28);
}

#button_online {
	padding: 20px;
	margin-top: 20px;
	margin-left: 100px;
	color: #5c7f36;
	color: white;
}
#button_submit {
	height: 50px;
	width: 150px;
	border-radius: 50px;
	background-color: #5c7f36;
	color: white;
	/* margin-left: 100px; */
}
#button_submit > a {
	margin: 0 10px;
	padding-top: 100px;
	text-decoration: none;
	font-size: 15px;
	color: white;
	cursor: pointer;
	transition: all 0.3s ease;
}
#button_submit > a:hover {
	padding-bottom: 10px;
	border-bottom: 3px solid #5c7f36;
	padding-top: 50px;
}

/* accepting msg to customer */
#Accept_food_msg {
	margin-top: -60px;
	font-family: "Rancho", cursive;
	font-size: 20px;
	color: green;
	text-align: center;
}

#customer_data {
	margin-left: 20px;
	display: grid;
	gap: 15px;
	grid-template:
		"inp1"
		"loc"
		"food"
		"date";
}

#resp1 {
	grid-area: inp1;
}
#resp2 {
	grid-area: loc;
}
#resp3 {
	grid-area: food;
}

#resp4 {
	grid-area: date;
}
@media only screen and (max-width: 600px) {
	#customer_data {
		grid-template:
			"inp1"
			"loc"
			"food"
			"date";
	}
	.input-container {
		width: 300px;
		margin-right: 150px;
	}
}

/* Container holding the image and the text */
.order_online4580 {
	width: 100%;
	margin-top: -40px;
	height: 300px;
}
/* Container holding the image and the text */
.container4560 {
	position: relative;
	text-align: center;
	color: white;
	font-size: 60px;
}
/* Centered text */
.centered4600 {
	font-family: "Rancho", cursive;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;

	text-transform: uppercase;
	margin-top: -90px;
}
/* centere bottom content text */
.small_data4570 {
	margin-top: 30px;
	color: aliceblue;
	font-size: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-family: "Hind Siliguri", sans-serif;
	box-sizing: border-box;
	color: white;
	font-size: 26px;
	opacity: 1;
}
.kokate900 {
	font-size: 20px;
}
.kokate900:before {
	content: "";
	display: block;
	width: 150px;
	height: 2px;
	background: white;
	left: 57%;
	top: 50%;
	position: absolute;
	margin-top: 55px;
}
.kokate900:after {
	content: "";
	display: block;
	width: 150px;
	height: 2px;
	background: white;
	right: 57%;
	top: 50%;
	position: absolute;
	margin-top: 55px;
}

/* anwar part in home page */

#jonsnow-edit-nil32 {
	margin-top: 10px;
}

#jonsnow-edit-nil33 {
	width: 30%;
	margin-left: 140px;
}

.jonsnow-edit-nil34 {
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-size: 14px;
	font-family: "Hind Siliguri", sans-serif;
	font-weight: 400;
	line-height: 1.714;
	color: #616f7d;
	max-width: 130%;
	height: auto;
	visibility: visible;
	animation-name: zoomIn;
	border-radius: 30px;
}

.top-title2345 {
	font-size: 16px;
	position: relative;
	display: block;
	text-align: center;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-family: "Hind Siliguri", sans-serif;
	font-weight: 500;
	color: #5c7f36;
	text-transform: uppercase;
	line-height: 1;
	font-size: 20px;
	margin-right: 500px;
}

.top-title2345:before {
	content: "";
	display: block;
	width: 60px;
	height: 2px;
	background: #5c7f36;
	left: 77%;
	top: 50%;
	position: absolute;
}

.top-title2345:after {
	content: "";
	display: block;
	width: 60px;
	height: 2px;
	background: #5c7f36;
	right: 77%;
	top: 50%;
	position: absolute;
}

#jonsnow-edit-nil90 {
	width: 50%;
	margin-left: 60%;
	margin-top: 70px;
}

.jonsnow-edit-nil-p1 {
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-family: "Hind Siliguri", sans-serif;
	line-height: 1.714;
	box-sizing: border-box;

	text-align: justify;
	font-weight: 700;
	font-size: 16px;
	color: #29272e;
	margin-bottom: 15px;
}

.jonsnow-edit-nil-p123 {
	font-size: 16px;
	font-family: "Hind Siliguri", sans-serif;
	font-weight: 400;
	line-height: 1.714;
	box-sizing: border-box;
	margin: 0 0 10px;
	text-align: justify;
	margin-bottom: 20px !important;
	color: #616f7d;
	font-size: 17px;
}

.nil-jonsnow-edit-anchor {
	color: #616f7d;
	font-weight: bold;
	font-size: 16px;
}

#jonsnow-edit-nil388 {
	width: 55%;
	margin-left: 52%;
	margin-top: -520px;
}

.jonsnow-edit-nil34:hover {
	-ms-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	transform: scale(1.1);
}

#jonsnow-service-heading {
	text-align: center;
}
#jonsnow-service-heading > p {
	font-family: sans-serif;
	margin: 50px auto;
	color: #5c7f36;
	text-align: center;
	font-size: 30px;
	max-width: 600px;
	position: relative;
}
#jonsnow-service-heading > p:before {
	content: "";
	display: block;
	width: 60px;
	height: 2px;
	background: #5c7f36;
	left: 70%;
	top: 50%;
	position: absolute;
}
#jonsnow-service-heading > p:after {
	content: "";
	display: block;
	width: 60px;
	height: 2px;
	background: #5c7f36;
	right: 70%;
	top: 50%;
	position: absolute;
}
#jonsnow-service-heading > h1 {
	font-family: "Rancho", cursive;
}

#jonsnow-service-sec {
	width: 1200px;
	display: flex;
	margin: auto;
	padding: 10px;
}

.jonsnow-icon-title > h2 {
	font-family: "Rancho", cursive;
	text-align: center;
	margin: 60px;
}

.jonsnow-icon-img {
	width: 120px;
	height: 120px;
	border: 2px dotted #5c7f36;
	text-align: center;
	margin: auto;
	border-radius: 50%;
	background-color: #fff;
	color: #5c7f36;
}
.imgicon21 {
	margin: auto;
	margin-top: -15px;
	width: 60px;
	height: 60px;
}
.icon21 {
	font-size: 60px;
}
.small_num {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	color: #3f3e44;
	background-color: #fff;
	font-size: 15px;
	margin-left: 95px;
	margin-top: 5px;
	text-align: center;
	padding-top: 5px;
	border: 1px solid seashell;
}
.jonsnow-icon-img:hover .small_num {
	background-color: #5c7f36;
	color: #fff;
}

.jonsnow-icon-desc {
	text-align: center;
}
.jonsnow-icon-img:hover {
	background-color: #5c7f36;
	color: #fff;
}

/*Anwar css-----------------------------------------*/
