.order_online {
	width: 100%;

	margin-top: 20px;
	height: 300px;
}
/* Container holding the image and the text */
.container {
	position: relative;
	text-align: center;
	color: orangered;

	font-size: 60px;
}
/* Centered text */
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* centere bottom content text */
.small_data {
	margin-top: 80px;
	color: aliceblue;
	font-size: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#layout {
	margin-left: 20px;
	display: grid;
	gap: -15px;
	grid-template:
		"b1 b2 "
		"b3 b4";
}
#layout > div:hover {
	border-bottom: 3px solid #5c7f36;
}
#box1 {
	margin-top: 30px;
	width: 500px;
	grid-area: b1;
	height: 350px;
	border: 1px solid white;
	/* float: left; */
	box-shadow: 5px 5px 20px grey;
}
#box2 {
	grid-area: b2;
	margin-top: 30px;
	width: 500px;
	height: 350px;
	border: 1px solid white;
	/* float: left; */
	box-shadow: 5px 5px 20px grey;
}
#box3 {
	grid-area: b3;
	margin-top: 30px;
	width: 500px;
	height: 350px;
	border: 1px solid white;
	/* float: left; */
	box-shadow: 5px 5px 20px grey;
}
#box4 {
	grid-area: b4;
	margin-top: 30px;
	width: 500px;
	height: 350px;
	border: 1px solid white;
	/* float: left; */
	box-shadow: 5px 5px 20px grey;
}
#box5 {
	grid-area: b5;
	margin-top: 30px;
	width: 500px;
	height: 350px;
	border: 1px solid white;
	margin-left: 20px;
	box-shadow: 5px 5px 20px grey;
}
@media only screen and (max-width: 900px) {
	#layout {
		grid-template:
			"b1 b2"
			"b3 b4";
	}
}
@media only screen and (max-width: 600px) {
	#layout {
		grid-template:
			"b1"
			"b2"
			"b3"
			"b4";
	}
}
.title {
	font-family: "Rancho", cursive;
	font-size: 35px;
	text-transform: capitalize;
	color: #29272e;
	margin: 0;
	margin-left: auto;
	margin-bottom: auto;
	text-align: center;
}

.top-title {
	font-weight: 500;
	font-size: 16px;
	color: #5c7f36;
	position: relative;
	text-transform: uppercase;
	display: block;
	line-height: 1;
	margin-left: auto;
	margin-bottom: auto;
	text-align: center;
}

.top-title {
	font-family: sans-serif;
	margin: 50px auto;
	color: #5c7f36;
	text-align: center;
	font-size: 30px;
	max-width: 600px;
	position: relative;
}
.top-title:before {
	content: "";
	display: block;
	width: 60px;
	height: 2px;
	background: #5c7f36;
	left: 78%;
	top: 50%;
	position: absolute;
}
.top-title:after {
	content: "";
	display: block;
	width: 60px;
	height: 2px;
	background: #5c7f36;
	right: 78%;
	top: 50%;
	position: absolute;
}
.image {
	width: 500px;
	height: 200px;
}
/* Quick-zoom Container */
/* Colorize-zoom Container */
/* [1] The container */
.img-hover-zoom {
	height: 300px; /* [1.1] Set it as per your need */
	overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
	transition: transform 0.5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
	transform: scale(1.5);
}
.title2 {
	font-family: "Rancho", cursive;
	font-size: 20px;
	text-transform: capitalize;
	color: #29272e;
	margin: 0;
	margin-left: 10px;
}

.data {
	font-size: 15px;
	color: rgb(92, 88, 88);
	margin-left: 10px;
}

.price_month {
	margin-top: -20px;
	margin-right: 30px;
	float: right;
	width: 150px;
	height: 70px;
	border: 1px solid #5c7f36;
	border-radius: 50%;
	background-color: #5c7f36;
}
.cost_month {
	color: white;
	margin-left: 25px;
	margin-top: 20px;
	font-size: 15px;
}

/* Container holding the image and the text */
.order_online4580 {
	width: 100%;
	margin-top: -40px;
	height: 300px;
}
/* Container holding the image and the text */
.container4560 {
	position: relative;
	text-align: center;
	color: orangered;
	font-size: 60px;
}
/* Centered text */
.centered4600 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-family: "Rancho", cursive;
	text-transform: uppercase;
	margin-top: -90px;
}
/* centere bottom content text */
.small_data4570 {
	margin-top: 20px;
	color: aliceblue;
	font-size: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-family: "Hind Siliguri", sans-serif;
	box-sizing: border-box;
	color: #ffffffeb;
	font-size: 26px;
	opacity: 1;
}
.kokate900 {
	font-size: 20px;
}
.kokate900:before {
	content: "";
	display: block;
	width: 150px;
	height: 2px;
	background: white;
	left: 57%;
	top: 50%;
	position: absolute;
	margin-top: 55px;
}
.kokate900:after {
	content: "";
	display: block;
	width: 150px;
	height: 2px;
	background: white;
	right: 57%;
	top: 50%;
	position: absolute;
	margin-top: 55px;
}
