#nil1 {

    height: 400px;
    text-align: center;

}

#images11 {

    height: 350px;
    border: 0.5 px solid whitesmoke;

    margin-top: 20px;


}

#buttn2 {
    padding: 10px;
    width: 100px;
    color: darkblue;
    margin-top: 20px;



}

.dot22 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot22:hover {
    background-color: #717171;
}

.prev22 {
    cursor: pointer;
    position: absolute;
    top: 50%;
   
    padding: 16px;
  
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    margin-top: -190px;
    margin-left: 430px;
}
.prev22:hover {
background-color: rgba(0, 0, 0, 0.8);
}
