/* <page2nilcsss></page2nilcsss> */


#form_img_1 {

    height: 600px;
    text-align: center;
    margin-top: 30px;

}

#images_online_12 {

    height: 450px;
    width: 700px;


    margin-top: 40px;


}

#buttn2 {
    padding: 10px;
    width: 100px;
    color: darkblue;
    margin-top: 20px;



}

.tod67 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  
}

.active,
.tod67:hover {
    background-color: #5c7f36;

}

.prev_buttn_678 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    margin-top: -80px;
    margin-left: 355px;
}
.prev_buttn_678:hover {
background-color: #5c7f36;
border: 1px solid;
}
.next_buttn_98{
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    margin-top: -80px;
    margin-left: 1120px;
}
.next_buttn_98:hover {
    background-color: #5c7f36;
    border: 1px solid;
   
}


/* <page2nilcsss></page2nilcsss> */


#whatsapp-btn {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 14px;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 400;
    line-height: 1.714;
    color: #616f7d;
    box-sizing: border-box;
    position: fixed;
    bottom: 90px;
    left: 20px;
    z-index: 99;
    width: 50px;
    

}

#fa-fa-whatsapp {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 14px;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 400;
    line-height: 1.714;
    box-sizing: border-box;
    background-color: transparent;
    transition: color 0.3s ease;
    outline: 0;
    text-decoration: none;
    color: #5c7f36;
}
.box-option {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 14px;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 400;
    line-height: 1.714;
    color: #616f7d;
    box-sizing: border-box;
    background-color: #ECE5DD;
    width: 140px;
    padding: 10px;
    position: absolute;
    bottom: 5px;
    border-radius: 10px;
    border: 1px solid #d2ccc5;
    display: none;
}
.wssp_img {
    width: 50px;
    height: 50px;
}